In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
image_root = 'images/'
image_paths=[]
for (dirpath, dirnames, filenames) in os.walk(image_root):
    image_paths+=[os.path.normpath(os.path.join(dirpath,file)) for file in filenames if file.endswith(".jpg") or file.endswith(".png")]

In [3]:
print(len(image_paths), image_paths[0])

20168 images\1999\ene\p0131991.jpg

In [4]:
empty=np.full(len(image_paths), "")
df = pd.DataFrame([image_paths]+[empty]+[empty]).T
df.columns=["image", "labels", "time"]
df.drop_duplicates(inplace=True)
df

                              image labels time
0      images\1999\ene\p0131991.jpg
1      images\1999\ene\p0131992.jpg
2      images\1999\ene\p0131993.jpg
3      images\1999\ene\p0131994.jpg
4      images\1999\ene\p0131995.jpg
...                             ...    ...  ...
20163      images\2024\image_95.jpg
20164      images\2024\image_96.jpg
20165      images\2024\image_97.jpg
20166      images\2024\image_98.jpg
20167      images\2024\image_99.jpg

[20168 rows x 3 columns]

In [5]:
df[df["image"].str.contains("ipynb")]

Empty DataFrame
Columns: [image, labels, time]
Index: []

In [6]:
df.drop(df[df["image"].str.contains("ipynb")].index, inplace=True)

In [7]:
df.shape

(20168, 3)

In [8]:
df.to_feather("data/stage1.feather")